<div class="w-full py-12 bg-[#e5e5e5]">
  <div
    class="grid grid-cols-6 place-items-center gap-x-8 gap-y-4 w-fit mx-auto"
  >
    <span>2xs</span>
    <span>xs</span>
    <span>sm</span>
    <span>md</span>
    <span>lg</span>
    <span></span>

    <span>flat-primary</span>
    <button tim-flat-button *ngFor="let size of SIZES">Button CTA</button>

    <span>flat-primary-disabled</span>
    <button tim-flat-button [disabled]="true" *ngFor="let size of SIZES">
      Button CTA
    </button>

    <span>flat-primary-loading</span>
    <button tim-flat-button [loading]="true" *ngFor="let size of SIZES">
      Button CTA
    </button>

    <span class="mt-6">flat-primary-prefix</span>
    <button tim-flat-button class="mt-6" *ngFor="let size of SIZES">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_WHITE" />
    </button>

    <span>flat-primary-prefix-disabled</span>
    <button tim-flat-button [disabled]="true" *ngFor="let size of SIZES">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>

    <span>flat-primary-prefix-loading</span>
    <button
      tim-flat-button
      [loading]="true"
      class="mt-6"
      *ngFor="let size of SIZES"
    >
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_WHITE" />
    </button>

    <span class="mt-6">flat-primary-suffix</span>
    <button tim-flat-button class="mt-6" *ngFor="let size of SIZES">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_WHITE" />
    </button>

    <span>flat-primary-suffix-disabled</span>
    <button tim-flat-button [disabled]="true" *ngFor="let size of SIZES">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>

    <span>flat-primary-suffix-loading</span>
    <button tim-flat-button [loading]="true" *ngFor="let size of SIZES">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_WHITE" />
    </button>

    <span class="mt-12">faint-primary</span>
    <button tim-faint-button class="mt-12" *ngFor="let size of SIZES">
      Button CTA
    </button>

    <span>faint-primary-disabled</span>
    <button tim-faint-button [disabled]="true" *ngFor="let size of SIZES">
      Button CTA
    </button>

    <span>faint-primary-disabled</span>
    <button tim-faint-button [loading]="true" *ngFor="let size of SIZES">
      Button CTA
    </button>

    <span class="mt-6">faint-primary-prefix</span>
    <button tim-faint-button class="mt-6" *ngFor="let size of SIZES">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLUE" />
    </button>

    <span>faint-primary-prefix-disabled</span>
    <button tim-faint-button [disabled]="true" *ngFor="let size of SIZES">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>

    <span class="mt-6">faint-primary-suffix</span>
    <button tim-faint-button class="mt-6" *ngFor="let size of SIZES">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLUE" />
    </button>

    <span>faint-primary-suffix-disabled</span>
    <button
      tim-faint-button
      [disabled]="true"
      *ngFor="let size of SIZES"
      [size]="size"
    >
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>

    <span class="mt-12">simple-primary</span>
    <button tim-simple-button class="mt-12" *ngFor="let size of SIZES">
      Button CTA
    </button>

    <span>simple-primary-disabled</span>
    <button tim-simple-button [disabled]="true" *ngFor="let size of SIZES">
      Button CTA
    </button>

    <span>simple-primary-loading</span>
    <button tim-simple-button [loading]="true" *ngFor="let size of SIZES">
      Button CTA
    </button>

    <span class="mt-6">simple-primary-prefix</span>
    <button tim-simple-button class="mt-6" *ngFor="let size of SIZES">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLUE" />
    </button>

    <span>simple-primary-prefix-disabled</span>
    <button tim-simple-button [disabled]="true" *ngFor="let size of SIZES">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>

    <span class="mt-6">simple-primary-suffix</span>
    <button tim-simple-button class="mt-6" *ngFor="let size of SIZES">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLUE" />
    </button>

    <span>simple-primary-suffix-disabled</span>
    <button tim-simple-button [disabled]="true" *ngFor="let size of SIZES">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>

    <span class="mt-12">stroked-neutral</span>
    <button
      tim-stroked-button
      color="neutral"
      class="mt-12"
      *ngFor="let size of SIZES"
    >
      Button CTA
    </button>

    <span>stroked-neutral-disabled</span>
    <button tim-stroked-button [disabled]="true" *ngFor="let size of SIZES">
      Button CTA
    </button>
    <span>stroked-neutral-loading</span>
    <button
      tim-stroked-button
      color="neutral"
      [loading]="true"
      *ngFor="let size of SIZES"
    >
      Button CTA
    </button>

    <span class="mt-6">stroked-neutral-prefix</span>
    <button
      tim-stroked-button
      color="neutral"
      class="mt-6"
      *ngFor="let size of SIZES"
    >
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_GRAY" />
    </button>

    <span>stroked-neutral-prefix-disabled</span>
    <button tim-stroked-button [disabled]="true" *ngFor="let size of SIZES">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>

    <span class="mt-6">stroked-neutral-suffix</span>
    <button
      tim-stroked-button
      color="neutral"
      class="mt-6"
      *ngFor="let size of SIZES"
    >
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_GRAY" />
    </button>

    <span>stroked-neutral-suffix-disabled</span>
    <button tim-stroked-button [disabled]="true" *ngFor="let size of SIZES">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>

    <span class="mt-12">simple-neutral</span>
    <button tim-simple-button color="neutral" class="mt-12">Button CTA</button>
    <button tim-simple-button color="neutral" size="sm" class="mt-12">
      Button CTA
    </button>
    <button tim-simple-button color="neutral" size="md" class="mt-12">
      Button CTA
    </button>
    <span></span>

    <span>simple-neutral-disabled</span>
    <button tim-simple-button [disabled]="true">Button CTA</button>
    <button tim-simple-button size="sm" [disabled]="true">Button CTA</button>
    <button tim-simple-button size="md" [disabled]="true">Button CTA</button>
    <span></span>

    <span class="mt-6">simple-neutral-prefix</span>
    <button tim-simple-button color="neutral" class="mt-6">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_GRAY" />
    </button>
    <button tim-simple-button color="neutral" size="sm" class="mt-6">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_GRAY" />
    </button>
    <button tim-simple-button color="neutral" size="md" class="mt-6">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_GRAY" />
    </button>
    <span></span>

    <span>simple-neutral-prefix-disabled</span>
    <button tim-simple-button [disabled]="true">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-simple-button [disabled]="true" size="sm">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-simple-button [disabled]="true" size="md">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <span></span>

    <span class="mt-6">simple-neutral-suffix</span>
    <button tim-simple-button color="neutral" class="mt-6">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_GRAY" />
    </button>
    <button tim-simple-button color="neutral" size="sm" class="mt-6">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_GRAY" />
    </button>
    <button tim-simple-button color="neutral" size="md" class="mt-6">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_GRAY" />
    </button>
    <span></span>

    <span>simple-neutral-suffix-disabled</span>
    <button tim-simple-button [disabled]="true">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-simple-button [disabled]="true" size="sm">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-simple-button [disabled]="true" size="md">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <span></span>

    <span class="mt-12">simple-white</span>
    <button tim-simple-button color="white" class="mt-12">Button CTA</button>
    <button tim-simple-button color="white" size="sm" class="mt-12">
      Button CTA
    </button>
    <button tim-simple-button color="white" size="md" class="mt-12">
      Button CTA
    </button>
    <span></span>

    <span>simple-white-disabled</span>
    <button tim-simple-button color="white" [disabled]="true">
      Button CTA
    </button>
    <button tim-simple-button color="white" size="sm" [disabled]="true">
      Button CTA
    </button>
    <button tim-simple-button color="white" size="md" [disabled]="true">
      Button CTA
    </button>
    <span></span>

    <span>simple-white-loading</span>
    <button tim-simple-button color="white" [loading]="true">Button CTA</button>
    <button tim-simple-button color="white" size="sm" [loading]="true">
      Button CTA
    </button>
    <button tim-simple-button color="white" size="md" [loading]="true">
      Button CTA
    </button>
    <span></span>

    <span class="mt-6">simple-white-prefix</span>
    <button tim-simple-button color="white" class="mt-6">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_WHITE" />
    </button>
    <button tim-simple-button color="white" size="sm" class="mt-6">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_WHITE" />
    </button>
    <button tim-simple-button color="white" size="md" class="mt-6">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_WHITE" />
    </button>
    <span></span>

    <span>simple-white-prefix-disabled</span>
    <button tim-simple-button color="white" [disabled]="true">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_WHITE" />
    </button>
    <button tim-simple-button color="white" [disabled]="true" size="sm">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_WHITE" />
    </button>
    <button tim-simple-button color="white" [disabled]="true" size="md">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_WHITE" />
    </button>
    <span></span>

    <span class="mt-6">simple-white-suffix</span>
    <button tim-simple-button color="white" class="mt-6">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_WHITE" />
    </button>
    <button tim-simple-button color="white" size="sm" class="mt-6">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_WHITE" />
    </button>
    <button tim-simple-button color="white" size="md" class="mt-6">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_WHITE" />
    </button>
    <span></span>

    <span>simple-white-suffix-disabled</span>
    <button tim-simple-button color="white" [disabled]="true">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_WHITE" />
    </button>
    <button tim-simple-button color="white" [disabled]="true" size="sm">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_WHITE" />
    </button>
    <button tim-simple-button color="white" [disabled]="true" size="md">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_WHITE" />
    </button>
    <span></span>

    <span class="mt-12">flat-destr.</span>
    <button tim-flat-button color="destructive" class="mt-12">
      Button CTA
    </button>
    <button tim-flat-button color="destructive" size="sm" class="mt-12">
      Button CTA
    </button>
    <button tim-flat-button color="destructive" size="md" class="mt-12">
      Button CTA
    </button>
    <span></span>

    <span>flat-destr.-disabled</span>
    <button tim-flat-button [disabled]="true">Button CTA</button>
    <button tim-flat-button [disabled]="true" size="sm">Button CTA</button>
    <button tim-flat-button [disabled]="true" size="md">Button CTA</button>
    <span></span>

    <span>flat-destr.-loading</span>
    <button tim-flat-button color="destructive" [loading]="true">
      Button CTA
    </button>
    <button tim-flat-button color="destructive" [loading]="true" size="sm">
      Button CTA
    </button>
    <button tim-flat-button color="destructive" [loading]="true" size="md">
      Button CTA
    </button>
    <span></span>

    <span class="mt-6">flat-destr.-prefix</span>
    <button tim-flat-button color="destructive" class="mt-6">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_WHITE" />
    </button>
    <button tim-flat-button color="destructive" size="sm" class="mt-6">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_WHITE" />
    </button>
    <button tim-flat-button color="destructive" size="md" class="mt-6">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_WHITE" />
    </button>
    <span></span>

    <span>flat-destr.-prefix-disabled</span>
    <button tim-flat-button [disabled]="true">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-flat-button [disabled]="true" size="sm">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-flat-button [disabled]="true" size="md">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <span></span>

    <span class="mt-6">flat-destr.-suffix</span>
    <button tim-flat-button color="destructive" class="mt-6">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_WHITE" />
    </button>
    <button tim-flat-button color="destructive" size="sm" class="mt-6">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_WHITE" />
    </button>
    <button tim-flat-button color="destructive" size="md" class="mt-6">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_WHITE" />
    </button>
    <span></span>

    <span>flat-destr.-suffix-disabled</span>
    <button tim-flat-button [disabled]="true">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-flat-button [disabled]="true" size="sm">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-flat-button [disabled]="true" size="md">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <span></span>

    <span class="mt-12">faint-destr.</span>
    <button tim-faint-button color="destructive" class="mt-12">
      Button CTA
    </button>
    <button tim-faint-button color="destructive" size="sm" class="mt-12">
      Button CTA
    </button>
    <button tim-faint-button color="destructive" size="md" class="mt-12">
      Button CTA
    </button>
    <span></span>

    <span>faint-destr.-disabled</span>
    <button tim-faint-button [disabled]="true">Button CTA</button>
    <button tim-faint-button size="sm" [disabled]="true">Button CTA</button>
    <button tim-faint-button size="md" [disabled]="true">Button CTA</button>
    <span></span>

    <span>faint-destr.-loading</span>
    <button tim-faint-button color="destructive" [loading]="true">
      Button CTA
    </button>
    <button tim-faint-button color="destructive" [loading]="true" size="sm">
      Button CTA
    </button>
    <button tim-faint-button color="destructive" [loading]="true" size="md">
      Button CTA
    </button>
    <span></span>

    <span class="mt-6">faint-destr.-prefix</span>
    <button tim-faint-button color="destructive" class="mt-6">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_RED" />
    </button>
    <button tim-faint-button color="destructive" size="sm" class="mt-6">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_RED" />
    </button>
    <button tim-faint-button color="destructive" size="md" class="mt-6">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_RED" />
    </button>
    <span></span>

    <span>faint-destr.-prefix-disabled</span>
    <button tim-faint-button [disabled]="true">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-faint-button [disabled]="true" size="sm">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-faint-button [disabled]="true" size="md">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <span></span>

    <span class="mt-6">faint-destr.-suffix</span>
    <button tim-faint-button color="destructive" class="mt-6">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_RED" />
    </button>
    <button tim-faint-button color="destructive" size="sm" class="mt-6">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_RED" />
    </button>
    <button tim-faint-button color="destructive" size="md" class="mt-6">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_RED" />
    </button>
    <span></span>

    <span>faint-destr.-suffix-disabled</span>
    <button tim-faint-button [disabled]="true">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-faint-button [disabled]="true" size="sm">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-faint-button [disabled]="true" size="md">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <span></span>

    <span class="mt-12">stroked-destr.</span>
    <button tim-stroked-button color="destructive" class="mt-12">
      Button CTA
    </button>
    <button tim-stroked-button color="destructive" size="sm" class="mt-12">
      Button CTA
    </button>
    <button tim-stroked-button color="destructive" size="md" class="mt-12">
      Button CTA
    </button>
    <span></span>

    <span>stroked-destr.-disabled</span>
    <button tim-stroked-button [disabled]="true">Button CTA</button>
    <button tim-stroked-button size="sm" [disabled]="true">Button CTA</button>
    <button tim-stroked-button size="md" [disabled]="true">Button CTA</button>
    <span></span>

    <span class="mt-6">stroked-destr.-prefix</span>
    <button tim-stroked-button color="destructive" class="mt-6">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_RED" />
    </button>
    <button tim-stroked-button color="destructive" size="sm" class="mt-6">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_RED" />
    </button>
    <button tim-stroked-button color="destructive" size="md" class="mt-6">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_RED" />
    </button>
    <span></span>

    <span>stroked-destr.-prefix-disabled</span>
    <button tim-stroked-button [disabled]="true">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-stroked-button [disabled]="true" size="sm">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-stroked-button [disabled]="true" size="md">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <span></span>

    <span class="mt-6">stroked-destr.-suffix</span>
    <button tim-stroked-button color="destructive" class="mt-6">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_RED" />
    </button>
    <button tim-stroked-button color="destructive" size="sm" class="mt-6">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_RED" />
    </button>
    <button tim-stroked-button color="destructive" size="md" class="mt-6">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_RED" />
    </button>
    <span></span>

    <span>stroked-destr.-suffix-disabled</span>
    <button tim-stroked-button [disabled]="true">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-stroked-button [disabled]="true" size="sm">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-stroked-button [disabled]="true" size="md">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <span></span>

    <span class="mt-12">simple-destr.</span>
    <button tim-simple-button color="destructive" class="mt-12">
      Button CTA
    </button>
    <button tim-simple-button color="destructive" size="sm" class="mt-12">
      Button CTA
    </button>
    <button tim-simple-button color="destructive" size="md" class="mt-12">
      Button CTA
    </button>
    <span></span>

    <span>simple-destr.-disabled</span>
    <button tim-simple-button [disabled]="true">Button CTA</button>
    <button tim-simple-button size="sm" [disabled]="true">Button CTA</button>
    <button tim-simple-button size="md" [disabled]="true">Button CTA</button>
    <span></span>

    <span>simple-destr.-loading</span>
    <button tim-simple-button color="destructive" [loading]="true">
      Button CTA
    </button>
    <button tim-simple-button color="destructive" size="sm" [loading]="true">
      Button CTA
    </button>
    <button tim-simple-button color="destructive" size="md" [loading]="true">
      Button CTA
    </button>
    <span></span>

    <span class="mt-6">simple-destr.-prefix</span>
    <button tim-simple-button color="destructive" class="mt-6">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_RED" />
    </button>
    <button tim-simple-button color="destructive" size="sm" class="mt-6">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_RED" />
    </button>
    <button tim-simple-button color="destructive" size="md" class="mt-6">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_RED" />
    </button>
    <span></span>

    <span>simple-destr.-prefix-disabled</span>
    <button tim-simple-button [disabled]="true">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-simple-button [disabled]="true" size="sm">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-simple-button [disabled]="true" size="md">
      Button CTA
      <img timPrefix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <span></span>

    <span class="mt-6">simple-destr.-suffix</span>
    <button tim-simple-button color="destructive" class="mt-6">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_RED" />
    </button>
    <button tim-simple-button color="destructive" size="sm" class="mt-6">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_RED" />
    </button>
    <button tim-simple-button color="destructive" size="md" class="mt-6">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_RED" />
    </button>
    <span></span>

    <span>simple-destr.-suffix-disabled</span>
    <button tim-simple-button [disabled]="true">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-simple-button [disabled]="true" size="sm">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <button tim-simple-button [disabled]="true" size="md">
      Button CTA
      <img timSuffix [src]="PLUS_OUTLINE_BLACK" />
    </button>
    <span></span>

    <span>simple-primary-icon-button</span>
    <button tim-simple-button size="2xs" iconBtn="plus"></button>

    <button tim-simple-button size="xs" iconBtn="plus"></button>
    <button tim-simple-button size="sm" iconBtn="plus"></button>
    <button tim-simple-button size="md" iconBtn="plus"></button>
    <button tim-simple-button size="lg" iconBtn="plus"></button>

    <span>simple-icon-button (disabled)</span>
    <button
      tim-simple-button
      size="xs"
      iconBtn="plus"
      [disabled]="true"
    ></button>
    <button
      tim-simple-button
      size="sm"
      iconBtn="plus"
      [disabled]="true"
    ></button>
    <button
      tim-simple-button
      size="md"
      iconBtn="plus"
      [disabled]="true"
    ></button>
    <button
      tim-simple-button
      size="lg"
      iconBtn="plus"
      [disabled]="true"
    ></button>

    <span>flat-primary-icon-button</span>
    <button tim-flat-button size="xs" iconBtn="plus"></button>
    <button tim-flat-button size="sm" iconBtn="plus"></button>
    <button tim-flat-button size="md" iconBtn="plus"></button>
    <button tim-flat-button size="lg" iconBtn="plus"></button>

    <span>flat-icon-button (disabled)</span>
    <button tim-flat-button size="xs" iconBtn="plus" [disabled]="true"></button>
    <button tim-flat-button size="sm" iconBtn="plus" [disabled]="true"></button>
    <button tim-flat-button size="md" iconBtn="plus" [disabled]="true"></button>
    <button tim-flat-button size="lg" iconBtn="plus" [disabled]="true"></button>

    <span>faint-primary-icon-button</span>
    <button tim-faint-button size="xs" iconBtn="plus"></button>
    <button tim-faint-button size="sm" iconBtn="plus"></button>
    <button tim-faint-button size="md" iconBtn="plus"></button>
    <button tim-faint-button size="lg" iconBtn="plus"></button>

    <span>faint-icon-button (disabled)</span>
    <button
      tim-faint-button
      size="xs"
      iconBtn="plus"
      [disabled]="true"
    ></button>
    <button
      tim-faint-button
      size="sm"
      iconBtn="plus"
      [disabled]="true"
    ></button>
    <button
      tim-faint-button
      size="md"
      iconBtn="plus"
      [disabled]="true"
    ></button>
    <button
      tim-faint-button
      size="lg"
      iconBtn="plus"
      [disabled]="true"
    ></button>

    <span>simple-neutral-icon-button</span>
    <button tim-simple-button size="xs" color="neutral" iconBtn="plus"></button>
    <button tim-simple-button size="sm" color="neutral" iconBtn="plus"></button>
    <button tim-simple-button size="md" color="neutral" iconBtn="plus"></button>
    <button tim-simple-button size="lg" color="neutral" iconBtn="plus"></button>

    <span>stroked-neutral-icon-button</span>
    <button
      tim-stroked-button
      size="xs"
      color="neutral"
      iconBtn="plus"
    ></button>
    <button
      tim-stroked-button
      size="sm"
      color="neutral"
      iconBtn="plus"
    ></button>
    <button
      tim-stroked-button
      size="md"
      color="neutral"
      iconBtn="plus"
    ></button>
    <button
      tim-stroked-button
      size="lg"
      color="neutral"
      iconBtn="plus"
    ></button>

    <span>stroked-neutral-icon-button (disabled)</span>
    <button
      tim-stroked-button
      size="xs"
      iconBtn="plus"
      color="neutral"
      [disabled]="true"
    ></button>
    <button
      tim-stroked-button
      size="sm"
      iconBtn="plus"
      color="neutral"
      [disabled]="true"
    ></button>
    <button
      tim-stroked-button
      size="md"
      iconBtn="plus"
      color="neutral"
      [disabled]="true"
    ></button>
    <button
      tim-stroked-button
      size="lg"
      iconBtn="plus"
      color="neutral"
      [disabled]="true"
    ></button>

    <span>simple-white-icon-button</span>
    <button tim-simple-button size="xs" color="white" iconBtn="plus"></button>
    <button tim-simple-button size="sm" color="white" iconBtn="plus"></button>
    <button tim-simple-button size="md" color="white" iconBtn="plus"></button>
    <button tim-simple-button size="lg" color="white" iconBtn="plus"></button>

    <span>flat-destr-icon-button</span>
    <button
      tim-flat-button
      size="xs"
      iconBtn="plus"
      color="destructive"
    ></button>
    <button
      tim-flat-button
      size="sm"
      iconBtn="plus"
      color="destructive"
    ></button>
    <button
      tim-flat-button
      size="md"
      iconBtn="plus"
      color="destructive"
    ></button>
    <button
      tim-flat-button
      size="lg"
      iconBtn="plus"
      color="destructive"
    ></button>

    <span>flat-destr-icon-button (disabled)</span>
    <button
      tim-flat-button
      color="destructive"
      size="xs"
      iconBtn="plus"
      [disabled]="true"
    ></button>
    <button
      tim-flat-button
      color="destructive"
      size="sm"
      iconBtn="plus"
      [disabled]="true"
    ></button>
    <button
      tim-flat-button
      color="destructive"
      size="md"
      iconBtn="plus"
      [disabled]="true"
    ></button>
    <button
      tim-flat-button
      color="destructive"
      size="lg"
      iconBtn="plus"
      [disabled]="true"
    ></button>

    <span>faint-destr-icon-button</span>
    <button
      tim-faint-button
      size="xs"
      iconBtn="plus"
      color="destructive"
    ></button>
    <button
      tim-faint-button
      size="sm"
      iconBtn="plus"
      color="destructive"
    ></button>
    <button
      tim-faint-button
      size="md"
      iconBtn="plus"
      color="destructive"
    ></button>
    <button
      tim-faint-button
      size="lg"
      iconBtn="plus"
      color="destructive"
    ></button>

    <span>faint-destr-icon-button (disabled)</span>
    <button
      tim-faint-button
      size="xs"
      iconBtn="plus"
      [disabled]="true"
      color="destructive"
    ></button>
    <button
      tim-faint-button
      size="sm"
      iconBtn="plus"
      [disabled]="true"
      color="destructive"
    ></button>
    <button
      tim-faint-button
      size="md"
      iconBtn="plus"
      [disabled]="true"
      color="destructive"
    ></button>
    <button
      tim-faint-button
      size="lg"
      iconBtn="plus"
      [disabled]="true"
      color="destructive"
    ></button>

    <span>stroked-destr-icon-button</span>
    <button
      tim-stroked-button
      size="xs"
      iconBtn="plus"
      color="destructive"
    ></button>
    <button
      tim-stroked-button
      size="sm"
      iconBtn="plus"
      color="destructive"
    ></button>
    <button
      tim-stroked-button
      size="md"
      iconBtn="plus"
      color="destructive"
    ></button>
    <button
      tim-stroked-button
      size="lg"
      iconBtn="plus"
      color="destructive"
    ></button>

    <span>simple-destr-icon-button</span>
    <button
      tim-simple-button
      size="xs"
      iconBtn="plus"
      color="destructive"
    ></button>
    <button
      tim-simple-button
      size="sm"
      iconBtn="plus"
      color="destructive"
    ></button>
    <button
      tim-simple-button
      size="md"
      iconBtn="plus"
      color="destructive"
    ></button>
    <button
      tim-simple-button
      size="lg"
      iconBtn="plus"
      color="destructive"
    ></button>

    <span>simple-destr-icon-button (disabled)</span>
    <button
      tim-simple-button
      size="xs"
      iconBtn="plus"
      color="destructive"
      [disabled]="true"
    ></button>
    <button
      tim-simple-button
      size="sm"
      iconBtn="plus"
      color="destructive"
      [disabled]="true"
    ></button>
    <button
      tim-simple-button
      size="md"
      iconBtn="plus"
      color="destructive"
      [disabled]="true"
    ></button>
    <button
      tim-simple-button
      size="lg"
      iconBtn="plus"
      color="destructive"
      [disabled]="true"
    ></button>
  </div>
</div>
