<div
  class="relative border h-52 max-w-82 rounded-lg overflow-hidden"
  [ngClass]="{
    'bg-blue-50 border-blue-300': choosingImage,
    'bg-white border-gray-300': !choosingImage && !value?.imageFile?.image,
    'border-solid': value?.imageFile?.image,
    'border-dashed': !value?.imageFile?.image,
    'bg-red-50 border-red-200': hasError
  }"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
>
  <div
    *ngIf="isDisabled"
    class="bg-black opacity-2 absolute inset-0 z-20 cursor-not-allowed"
  ></div>

  <div class="absolute inset-0 z-10 cursor-pointer">
    <ng-container errorTempl> </ng-container>
    <ng-container *ngIf="!imageUploading; else spinnerTempl">
      <ng-container *ngIf="value?.imageFile?.image; else noUploadedImageTempl">
        <ng-container
          *ngIf="
            hasError && !stateManager?.control?.errors[REQUIRED];
            then errorTempl;
            else showUploadedImageTempl
          "
        >
        </ng-container>
      </ng-container>
    </ng-container>
  </div>
</div>

<input
  #fileInput
  class="hidden"
  [accept]="SUPPORTED_MIME_TYPES_STRING"
  type="file"
  name="images"
  (change)="onFileChange($event)"
  (cancel)="onCancel()"
/>

<ng-container
  *ngIf="
    hasError && stateManager?.control?.errors[REQUIRED];
    then requiredErrorTempl
  "
></ng-container>

<ng-template #spinnerTempl>
  <div class="flex items-center justify-center h-full">
    <tim-spinner size="md"></tim-spinner>
  </div>
</ng-template>
<ng-template #noUploadedImageTempl>
  <div
    class="flex flex-col items-center justify-center gap-4 h-full p-4"
    (click)="openFileFolder()"
  >
    <featured-icon
      [src]="isDisabled ? CLOUD_GRAY_SRC : CLOUD_BLUE_SRC"
      variant="circle-outline"
      [color]="isDisabled ? 'neutral' : 'primary'"
    ></featured-icon>

    <div class="flex flex-col items-center gap-1 text-gray-500 font-normal">
      <span class="text-sm">
        <a tim-link [inline]="true" [disabled]="isDisabled">Click to upload</a
        >&nbsp;<span [ngClass]="{ 'text-black opacity-40': isDisabled }"
          >or drag and drop</span
        >
      </span>
    </div>
    <span class="text-xs" [ngClass]="{ 'text-black opacity-40': isDisabled }"
      >{{ SUPPORTED_IMG_FORMATS_STRING | uppercase }} (max.
      {{ MAX_IMAGE_SIZE_MB }}MB)</span
    >
  </div>
</ng-template>

<ng-template #showUploadedImageTempl>
  <img class="w-full h-full object-contain" [src]="value?.imageFile?.image" />
  <button
    iqair-stroked-button
    size="xs"
    iconBtn="cross"
    type="button"
    class="absolute top-4 right-4"
    (click)="removeUploadedImage()"
  ></button>
</ng-template>

<ng-template #errorTempl>
  <div class="flex items-center justify-between gap-4 w-full h-full p-4">
    <div class="flex flex-col gap-1">
      <span
        *ngIf="stateManager.control.errors as errors"
        class="text-sm font-medium text-red-700"
      >
        {{
          errors
            | validationErrorToMessage : "" : IMAGE_VALIDATION_ERROR_MESSAGES
        }}
      </span>
      <span
        *ngIf="stateManager.control.errors[UPLOAD_FAILED]"
        class="text-sm font-medium"
      >
        <a tim-link [inline]="true" (click)="retryUploadImage()"
          >Try again</a
        ></span
      >
    </div>

    <img
      class="w-6 h-6"
      width="24"
      height="24"
      [src]="X_CIRCLE_RED"
      (click)="removeUploadedImage()"
    />
  </div>
</ng-template>
<ng-template #requiredErrorTempl>
  <span class="items-end text-red-600 text-sm">
    {{
      stateManager.control.errors
        | validationErrorToMessage : "" : IMAGE_VALIDATION_ERROR_MESSAGES
    }}
  </span>
</ng-template>
