<div
  [class]="'flex items-center justify-center' + ' ' + colorClasses"
  [ngClass]="{
    'rounded-full': shape === 'circle',
    'rounded-sm': shape === 'square',
    'h-4 w-4': size === 'sm',
    'h-5 w-5 ': size === 'md',
    'h-6 w-6': size === 'lg',
    'h-8 w-8': size === 'xl',
    'h-10 w-10': size === '2xl',
    'p-0.5': size === 'sm',
    'p-1': size === 'md' || size === 'lg',
    'cursor-pointer outline outline-2 outline-transparent hover:outline-gray-200':
      clickable
  }"
>
  <img [src]="icon" />
</div>
