<div class="relative flex flex-col justify-start items-center w-100 h-80">
  <div class="absolute inset-x-5 top-6 bottom-15">
    <tim-image-cropper [base64Content]="inputImage.image"></tim-image-cropper>
  </div>

  <tim-dialog-footer>
    <div class="flex flex-grow justify-end gap-2">
      <button tim-stroked-button color="neutral" size="xs" timCloseDialogButton>
        Cancel
      </button>
      <button
        tim-flat-button
        color="primary"
        size="xs"
        (click)="onSave()"
        [loading]="requestState.isPending"
      >
        Save
      </button>
    </div>
  </tim-dialog-footer>
</div>
