<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="trigger"
  [cdkConnectedOverlayOpen]="visible"
  [cdkConnectedOverlayPush]="true"
>
  <div
    class="p-2 rounded text-xs font-medium max-w-65 shadow-lg bg-white children:cursor-pointer"
  >
    <div
      *ngFor="let sugg of suggestionsToShow$ | async"
      class="cursor-pointer hover:bg-gray-100 hover:shadow-sm"
      (click)="$event.stopPropagation(); onTagSuggestionClick(sugg)"
    >
      <ng-container *ngTemplateOutlet="sugg.template"></ng-container>
    </div>

    <div
      *ngIf="inputText$ | async"
      class="cursor-pointer hover:bg-gray-100 hover:shadow-sm"
      (click)="$event.stopPropagation(); onNewTagClicked()"
    >
      {{ newTagMessage$ | async }}
    </div>
  </div>
</ng-template>
