<div class="flex flex-col flex-grow gap-4 text-md font-medium text-gray-800">
  <div class="flex flex-grow text-center justify-center text-2xl">
    Chips & Icon-Ships (square/circle)
  </div>
  <div class="grid grid-cols-4 gap-4">
    <div></div>
    <div *ngFor="let size of SIZES" class="">
      <div class="flex-col text-center">
        <div>{{ size }}</div>

        <div
          class="flex items-center gap-1 text-xs font-light justify-center flex-grow children:w-1/3"
        >
          <div>No X / Not clickable</div>
          <div>With X & clickable</div>
          <div>No X & clickable</div>
        </div>
      </div>
    </div>

    <ng-container *ngFor="let color of COLORS">
      <div>{{ color }}</div>
      <ng-container *ngFor="let size of SIZES">
        <div class="flex flex-col gap-1 items-center">
          <div
            class="flex items-center gap-1 justify-center flex-grow children:w-1/3"
          >
            <tim-chip
              [color]="color"
              [size]="size"
              [withAction]="false"
              [clickable]="false"
              >Chip</tim-chip
            >
            <tim-chip [color]="color" [size]="size" [withAction]="true"
              >Chip</tim-chip
            >

            <tim-chip [color]="color" [size]="size" [clickable]="true"
              >Chip</tim-chip
            >
          </div>

          <div class="flex gap-1 items-center">
            <ng-container *ngFor="let opts of ICON_CHIPS_OPTIONS">
              <tim-icon-chip
                [shape]="opts.shape"
                [size]="size"
                [color]="color"
                [clickable]="opts.clickable"
                [icon]="opts.icon"
              ></tim-icon-chip>
            </ng-container>
          </div>
        </div>
      </ng-container>
    </ng-container>
  </div>
</div>
